/************ COLORES ************/
:root{
    --color-primario-1:#837db4;
    --color-primario-2:#be5469;
    --color-primario-3:#CD8299;
    --color-primario-4:#986D9A;

    --color-secundario-1:#c2c6dd;
    --color-secundario-2:#c2c6dda5;

    --color-blanco: #fff;
    --color-gris: #666;
    --color-gris-oscuro: #333;
    --color-gris-oscuro2: #444;
    --color-negro: #000;

    --color-nivel-alto:rgb(255, 0, 0);
    --color-nivel-bajo:rgb(12, 187, 12);

    --color-negro-transparente: rgba(0,0,0,0.5);
    --color-negro-transparente-claro: rgba(0,0,0,0.4);
    --color-negro-transparente-claro2: rgba(0,0,0,0.25);
    --color-negro-transparente-claro3: rgba(0,0,0,0.1);
    --color-negro-transparente-claro4: rgba(0,0,0,0.03);

    --color-blanco-transparente: rgba(255,255,255,0.85);
    --color-blanco-transparente2: rgba(255,255,255,0.7);

    --color-gris-azulado-transparente: #c2c6dd64;
}