@import 'colores.css';
@import 'font.css';

/************ CAMBIOS GENERALES ************/
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-textos);
    font-size: 14px;
    color: var(--color-gris);
    background: var(--color-blanco);
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
}

a {
    text-decoration: none;
}